$color-white: #ffffff;
$color-black: #000000;

$color-grey-dark: #444444;
$color-grey-medium: #666666;
$color-grey-light: #E3E3E3;
$color-grey-border:  #D4D4D4;
$color-grey-link: #999999;

$color-red:#FF4E50;
$color-aqua: #19D4CA;
$color-yellow: #FFA710;
$color-lavender: #667DF3;

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10 / 16 = .625, for rems
}

body {
  // font-family: ;
}