$color-white: #ffffff;
$color-black: #000000;
$color-grey-dark: #444444;
$color-grey-light: #E3E3E3;
$color-red:#FF4E50;

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10 / 16 = .625, for rems
}

body {
  // font-family: ;
}