$color-white: #ffffff;
$color-black: #000000;

$color-grey-dark: #444444;
$color-grey-medium: #666666;
$color-grey-light: #E3E3E3;
$color-grey-border:  #D4D4D4;
$color-grey-link: #999999;

$color-red:#FF4E50;
$color-aqua: #19D4CA;
$color-yellow: #FFA710;
$color-lavender: #667DF3;

$screen-large: 62.5em;     //  1000px
$screen-medium: 50em;      //  800px
$screen-small: 37.5em;     //  600px
$screen-smallest: 20em;    //  320px

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10 / 16 = .625, for rems

  @media only screen and (max-width: $screen-large) {
    font-size: 50% !important;
  }

  @media only screen and (max-width: $screen-medium) {
    font-size: 40% !important;
  }

  @media only screen and (max-width: $screen-smallest) {
    font-size: 25% !important;
  } 
}