.section-interests {

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.7rem;
    color: $color-grey-dark;
    margin: 3rem 2rem;
  }

  &__question {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 24px;
  }

  &__search-group {
    margin: 2rem 0 7rem 0;
  }

  &__input {
    width: 30rem;
    height: 4rem;
    border: 1px solid $color-grey-border;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding-left: 1.5rem;
    margin-right: 2rem;
    
    &::placeholder {
      color: #999999;
    }
  }

  &__button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: $color-white;
    background-color: $color-red;
    border-radius: 4rem;
    border: 2px solid $color-red;
    padding: .9rem 1.5rem;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background-color: $color-white;
      color: $color-red;
    }
  }
}