.section-header {
  display: flex;
  justify-content: center;
  height: 60rem;
  background-image: linear-gradient(to bottom, rgba($color-black, .50), rgba($color-black, .50)), url('../assets/Bitmap.png');
  // background: linear-gradient(0deg, #FF4E50 0%, #F9D423 100%);
}

.section-howitworks {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}

.section-meetperson {
  display: flex;
  justify-content: center;
}

.section-discover {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}

.section-interests {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid $color-red;
}